body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

header {
  background-color: #5376E6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

main {
  width: 100%;
  padding-top: 20%;
}

label {
  padding: 5px;
  text-align: left;
}

input {
  border: 1px black solid;
  font-size: 15px;
  min-height: 20px;
  padding: 8px;
}

button {
  background-color: #5376E6;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  margin: 5px 10px;
  min-width: 80px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}

.movie-container {
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
}

.movie-container span {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

img {
  max-width: 100%;
}

a {
  color: white;
  font-weight: bold;
}

footer {
  align-items: center;
  background-color: #5376E6;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
}
